@use '@styles/colors.scss' as colors;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  flex-direction: column;
  box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;

  .container {
    border-radius: 10px;
    overflow: hidden;

    .header {
      width: 450px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      .headerLeft {
        display: flex;
        align-items: center;

        .destructive {
          color: colors.$warning-color;
        }

        .success {
          color: colors.$success-color;
        }

        .info {
          color: colors.$info-color;
        }

        .error {
          color: colors.$destructive-color;
        }

        .confirmation {
          color: colors.$info-color;
        }

        i {
          cursor: default;
          width: 24px !important;
          height: 24px !important;
          font-size: 24px !important;
          margin-right: 10px;
        }
      }

      .close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #ccc;
          transition: 0.3s background-color ease;

          i {
            background-color: #ccc;
            transition: 0.3s background-color ease;
          }
        }

        i {
          width: 24px !important;
          height: 24px !important;
          font-size: 24px !important;
        }
      }
    }

    .body {
      width: 450px;
      padding: 0 20px;
    }

    .footer {
      padding: 20px;
      display: flex;
      justify-content: flex-end;
      width: 450px;
    }
  }
}
