.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  flex-direction: column;

  .header {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    
    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #e6e6e6;
        transition: 0.3s background-color ease;

        i {
          background-color: #e6e6e6;
          transition: 0.3s background-color ease;
        }
      }

      i {
        width: 24px !important;
        height: 24px !important;
        font-size: 24px !important;
      }
    }
  }

  .body {
    width: 450px;
    padding: 0 20px;
  }

  .footer {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    width: 450px;
    border-radius: 0 0 10px 10px;

    .cancel {
      width: 100px;
      margin-right: 10px;
      border: 1px solid #ccc;
      color: #000;
      background-color: #fff;

      &:hover {
        border: 1px solid #1877f2;
        color: #1877f2;
        transition: 0.3s border, color ease;
      }
    }

    .confirm {
      width: 100px;
    }
  }
}
