@use '@styles/colors.scss' as colors;

.container {
  .redBorder {
    border: 1px solid red !important;
  }

  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;

    input[type='password']::-ms-reveal,
    input[type='password']::-ms-clear {
      display: none;
    }

    input {
      flex-grow: 1;
      align-items: center;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 7.5px;
      font-size: 14px;

      &:focus {
        outline: none;
        border: 1px solid colors.$primary-color;
        transition: 0.3s border ease;
      }

      &:hover {
        border: 1px solid colors.$primary-color;
        transition: 0.3s border ease;
      }
    }

    .togglePassword {
      position: absolute;
      right: 11px;
    }
  }

  .error {
    display: flex;
    align-items: center;
    height: 20px;
    color: red;
  }
}
