@use '@styles/colors.scss' as colors;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 79px 20px 20px;
  height: 100vh;
  background-color: colors.$bg-color;

  form {
    width: 400px;

    button {
      width: 100%;
    }

    .error {
      text-align: center;
      color: red;
      margin-top: 20px;
    }
  }
}
