@use '@styles/colors.scss' as colors;

:global(.container) {
  display: flex;
  justify-content: center;
  align-items: center;

  .cardWrapper {
    width: 500px;

    form {
      button {
        width: 100%;
      }

      .error {
        text-align: center;
        color: red;
        margin-top: 20px;
      }
    }
  }
}
