@use '@styles/colors.scss' as colors;

.container {
  background-color: colors.$bg-color;
  padding: 79px 20px 20px;

  :global(.card) {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 7.5px;
  }
}
