@use '@styles/colors.scss' as colors;

.container {
  .contentWrapper {
    background-color: colors.$bg-color;
    padding: 79px 40px 20px;

    .notLoggedIn {
      background-color: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100vw - 80px);
      height: calc(100vh - 100px);
    }

    .content {
      background-color: inherit;

      .formGroups {
        background-color: inherit;
        display: flex;
        align-items: center;

        .formGroup {
          background-color: inherit;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;

          .categoriesList {
            width: 150px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            border: 1px solid #adb5bd;
            padding: 10px;
            background-color: #adb5bd;
            color: #fff;

            &:hover {
              opacity: 0.8;
              transition: 0.3s opacity ease;
              cursor: pointer;
            }

            .bi {
              margin-left: 5px !important;
              color: #fff !important;
              background-color: #adb5bd !important;

              &::before {
                color: #fff !important;
                background-color: #adb5bd !important;
              }
            }
          }
        }
      }

      .categoryPicker {
        background-color: inherit;
        margin-bottom: 20px;
        position: relative;

        .categoriesList {
          font-size: 14px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-top: 10px;
          border: 1px solid #ccc;
          padding: 10px;
          border-radius: 5px;

          &:hover {
            cursor: pointer;
          }

          i {
            width: 14px;
            height: 14px;
            font-size: 14px;
          }
        }

        .categories {
          z-index: 1000;
          height: 250px;
          overflow-y: auto;
          border-radius: 5px;
          position: absolute;
          width: 100%;
          margin-top: 5px;
          padding: 10px 0;
          border: 1px solid #ccc;
          z-index: 100;

          .category {
            padding: 10px;
            font-size: 14px;
            list-style: none;

            &:hover {
              background-color: #ccc;
              transition: 0.3s background-color ease;
              cursor: pointer;
            }
          }
        }
      }

      .thumbnailWrapper {
        background-color: inherit;
        margin-top: 10px;
        margin-bottom: 15px;
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
          transition: 0.3s opacity ease;

          .deleteThumbnail {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
              display: block !important;
            }
          }
        }

        .thumbnailLabel {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #ccc !important;
          background-color: #fff;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          position: relative;

          &:hover {
            color: colors.$primary-color;
            transition: 0.3s color ease;
            cursor: pointer;
          }

          p {
            font-size: 14px;
            background-color: #fff;
          }

          i {
            font-size: 14px;
            background-color: #fff;
            height: 14px;
            width: 14px;
            margin-right: 5px;
          }
        }

        .deleteThumbnail {
          position: absolute;
          background-color: transparent;

          i {
            color: #fff;
            display: none;
            background-color: transparent;
            font-size: 28px;
            height: 28px;
            width: 28px;
          }
        }

        .thumbnail {
          object-fit: cover;
          height: 100%;
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
    }

    h2 {
      background-color: inherit;
      margin-bottom: 20px;
    }

    .publishWrapper {
      background-color: inherit;
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .publish {
        width: 100px;
      }
    }
  }
}
