@use '@styles/colors.scss' as colors;

.container {
  height: 100%;

  .main {
    width: 100%;
    height: 100%;
    padding-top: 59px;
    display: flex;

    .sidebar {
      position: fixed;
      padding: 10px;
      width: 20%;
      height: 100%;
      border-right: 1px solid #ccc;

      .sidebarItems {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .active {
          background-color: #fff !important;
          color: colors.$primary-color;
          border: 1px solid colors.$primary-color !important;
          transition:
            background-color 0.3s ease,
            color 0.3s ease;

          &:hover {
            background-color: #fff !important;
          }

          p {
            background-color: #fff !important;
            color: colors.$primary-color !important;
            transition:
              background-color 0.3s ease,
              color 0.3s ease;
          }
        }

        .sidebarItem {
          padding: 10px;
          border-radius: 7.5px;
          border: 1px solid #fff;

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          &:hover {
            background-color: #ccc;
            cursor: pointer;
            border: 1px solid #ccc;

            p {
              background-color: #ccc;
            }
          }

          p {
            color: #000;
            background-color: #fff;
          }
        }
      }
    }

    .content {
      background-color: colors.$bg-color;
      margin-left: 20%;
      padding: 20px;
      width: 80%;
      height: 100%;
      min-height: calc(100vh - 61px);
    }
  }
}
