@use '@styles/colors.scss' as colors;

.w20 {
  width: 20%;
}

.w80 {
  width: 80%;
  margin-left: 20%;
}

.w100 {
  width: 100%;
  margin-left: 59px;
}

.container {
  height: 100%;

  .main {
    width: 100%;
    height: 100%;
    padding-top: 59px;
    display: flex;

    .sidebar {
      position: fixed;
      padding: 10px;
      height: 100%;
      padding-bottom: 69px;
      border-right: 1px solid #ccc;
      display: flex;
      flex-direction: column;

      .sidebarItems {
        flex-grow: 1;
        list-style-type: none;
        padding: 0;
        margin: 0;

        .active {
          color: colors.$primary-color !important;
          background-color: #d8f3dc !important;
          transition:
            background-color 0.3s ease,
            color 0.3s ease;

          p {
            color: colors.$primary-color !important;
            background-color: #d8f3dc !important;
            transition:
              background-color 0.3s ease,
              color 0.3s ease;
          }
        }

        .sidebarItem {
          padding: 10px;
          border-radius: 5px;
          display: flex;
          align-items: center;

          &:hover {
            background-color: #e6e6e6;
            transition:
              background-color 0.3s ease,
              border 0.3s ease;
            cursor: pointer;

            p {
              background-color: #e6e6e6;
              transition: background-color 0.3s ease;
            }
          }

          p {
            color: #000;
            margin-left: 15px;
          }
        }
      }

      .sidebarFooter {
        display: flex;

        .toggleMenu {
          padding: 10px;
          border-radius: 5px;
          background-color: colors.$primary-color;
          color: #fff;
          cursor: pointer;

          &:hover {
            background-color: colors.$primary-hover-color;
            transition: 0.3s background-color ease;
          }

          &:active {
            background-color: colors.$primary-active-color;
            transition: 0.3s background-color ease;
          }
        }
      }
    }

    .content {
      background-color: colors.$bg-color;
      padding: 20px;
      height: 100%;
      min-height: calc(100vh - 61px);
    }
  }
}
