@use './colors.scss' as colors;

.primary-btn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: colors.$brand-color;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: colors.$hover-color;
    transition: 0.3s background-color ease !important;

    i {
      background-color: colors.$hover-color !important;
      transition: 0.3s background-color ease;
    }
  }

  &:active {
    background-color: colors.$active-color;
    transition: 0.3s background-color ease !important;

    i {
      background-color: colors.$active-color !important;
      transition: 0.3s background-color ease;
    }
  }
}

.secondary-btn {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #ccc;
  color: #000;
  background-color: #fff;

  &:hover {
    border: 1px solid colors.$brand-color;
    color: colors.$brand-color;
    transition:
      0.3s border ease,
      color ease;
  }
}

.custom-toolbar {
  padding: 10px !important;
  border-bottom: none !important;
  border-radius: 5px 5px 0 0 !important;

  button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 10px;
    padding: 0px !important;
    width: 24px !important;

    svg {
      padding: 3px;
    }
  }

  .ql-header {
    color: #000 !important;

    .ql-picker-label {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      border-radius: 3px;
      border: none !important;
    }

    .ql-picker-options {
      margin-top: 10px !important;
      padding: 10px 0 !important;
      border-radius: 5px !important;

      .ql-picker-item {
        padding: 10px !important;

        &::before {
          font-size: 14px !important;
        }

        &:hover {
          background-color: #e6e6e6;
          transition: 0.3s background-color ease;
          color: #000;
          transition: 0.3s color ease;
        }
      }
    }
  }
}

.quill-wrapper {
  margin-top: 10px;

  .quill {
    .ql-container {
      overflow: hidden;
      border-radius: 0 0 5px 5px !important;

      .ql-editor {
        min-height: 500px;
        padding: 10px;
        font-size: 14px !important;
        font-family: Arial, Helvetica, sans-serif;

        img {
          margin: 20px 0 !important;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
  }
}
