@use '@styles/colors.scss' as colors;

.container {
  display: flex;
  flex-direction: column;
  background-color: colors.$bg-color;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 200px;
  height: 100%;
  box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;
  overflow: hidden;

  .header {
    background-color: colors.$bg-color;

    .thumbnail {
      background-color: colors.$bg-color;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      width: 100%;
      border: none;
      object-fit: cover;
      display: block;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .body {
    padding: 10px;

    .categoryName {
      margin-bottom: 10px;
      text-decoration: none;
      color: #000;

      &:hover {
        color: colors.$primary-color;
        transition: 0.3s color ease;
      }
    }

    .title {
      a {
        text-decoration: none;
        color: #000;

        &:hover {
          color: colors.$primary-color;
          transition: 0.3s color ease;
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 0 0 10px 10px;
    width: 100%;

    .actions {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-right: 10px;

      .action {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        cursor: pointer;

        &:hover {
          color: colors.$primary-color;
          border-radius: 7.5px;

          i {
            color: colors.$primary-color;
          }
        }

        i {
          width: 22px !important;
          height: 22px !important;
          font-size: 22px !important;
        }
      }
    }

    .userAvatar {
      border: 1px solid #ccc;
      width: 40px;
      height: 40px;
      border-radius: 7.5px;
      object-fit: cover;
      display: block;
      margin-top: auto;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: 0.3s opacity ease;
      }
    }

    .userName {
      margin-left: 10px;

      &:hover {
        cursor: pointer;
        color: colors.$primary-color;
        transition: 0.3s color ease;
      }
    }
  }
}
