.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  min-height: 200px;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;

  .header {
    .thumbnail {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      width: 100%;
      border: none;
      object-fit: cover;
      display: block;
  
      &:hover {
        cursor: pointer;
      }
    }
  }

  .body {
    padding: 15px;

    .categoryName {
      margin-bottom: 15px;
      text-decoration: none;
      color: #000;

      &:hover {
        color: #1877f2;
        transition: 0.3s color ease;
      }
    }
    
    .title {
      a {
        text-decoration: none;
        color: #000;
  
        &:hover {
          color: #1877f2;
          transition: 0.3s color ease;
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 0 0 15px 15px;

    .userAvatar {
      border: 1px solid #ccc;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      display: block;
      margin-top: auto;
  
      &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: 0.3s opacity ease;
      }
    }
  
    .userName {
      margin-left: 15px;
  
      &:hover {
        cursor: pointer;
        color: #1877f2;
        transition: 0.3s color ease;
      }
    }
  }
}
