@use '@styles/colors.scss';

.container {
  position: relative;
  border-radius: 7.5px;

  .trigger {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7.5px;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;

    &:hover {
      .right {
        i {
          background-color: colors.$primary-hover-color;
          color: #fff;
          transition: 0.3s background-color ease;
        }
      }
    }

    &:active {
      .right {
        i {
          background-color: colors.$primary-active-color;
          color: #fff;
          transition: 0.3s background-color ease;
        }
      }
    }

    .left {
      display: flex;
      align-items: center;

      i {
        margin-left: 5px;
      }
    }

    .right {
      position: absolute;
      padding: 5px;
      right: 0;

      i {
        color: #fff;
        background-color: colors.$primary-color;
        padding: 13px;
        border-radius: 5px;
      }
    }
  }

  .itemsContainer {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;
    position: absolute;
    margin-top: 5px;
    border-radius: 7.5px;
    z-index: 9999;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    min-width: 225px;

    .items {
      max-height: 250px;
      overflow-y: scroll;
      padding: 7.5px;

      .item {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 7.5px;
        border-radius: 5px;
        cursor: pointer;
        height: 33px;

        &:hover {
          background-color: colors.$primary-color;
          color: #fff;
        }

        &:active {
          background-color: colors.$primary-active-color;
        }

        i {
          margin-right: 15px;
        }
      }
    }
  }
}
