@use '@styles/colors.scss';

.container {
  position: relative;
  border-radius: 7.5px;

  // &:hover {
  //   background-color: #ccc;
  //   transition: background-color 0.3s ease;

  //   .trigger {
  //     display: flex;
  //     background-color: #ccc;
  //     transition: background-color 0.3s ease;

  //     .left {
  //       background-color: #ccc;
  //       transition: background-color 0.3s ease;

  //       span,
  //       i {
  //         background-color: #ccc;
  //         transition: background-color 0.3s ease;
  //       }
  //     }

  //     .right {
  //       background-color: #ccc;
  //       transition: background-color 0.3s ease;

  //       i {
  //         background-color: #ccc;
  //         transition: background-color 0.3s ease;
  //       }
  //     }
  //   }
  // }

  .trigger {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7.5px;
    cursor: pointer;

    // &:hover {
    //   background-color: #ccc;
    //   transition: background-color 0.3s ease;
    // }

    .left {
      display: flex;
      align-items: center;

      i {
        margin-right: 5px;
      }
    }

    .right {
      margin-left: auto;

      i {
        width: 14px;
        height: 14px;
        font-size: 14px;
      }
    }
  }

  .items {
    position: absolute;
    width: 100%;
    max-height: 250px;
    overflow-y: scroll;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7.5px;
    z-index: 9999;

    .item {
      display: flex;
      list-style: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: colors.$primary-color;
        color: #fff;
        transition:
          background-color 0.3s ease,
          color 0.3s ease;

        i {
          background-color: colors.$primary-color;
          transition:
            background-color 0.3s ease,
            color 0.3s ease;
        }
      }

      i {
        margin-left: 5px;
      }
    }
  }
}
