@use '@styles/colors.scss' as colors;

.container {
  background-color: colors.$bg-color;

  h2 {
    margin-bottom: 20px;
    background-color: inherit;
  }

  .formGroup {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .updateButtonWrapper {
    background-color: inherit;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
