@use '@styles/colors.scss' as colors;

.container {
  background-color: colors.$bg-color;

  .formGroup {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .updateButtonWrapper {
    background-color: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
