@use '@styles/colors.scss' as colors;

.container {
  z-index: 3000;
  border-radius: 7.5px;
  overflow: hidden;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;
  background-color: #fff;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;

    .warning {
      color: colors.$warning-color;
    }

    .success {
      color: colors.$success-color;
    }

    .info {
      color: colors.$info-color;
    }

    .error {
      color: colors.$destructive-color;
    }

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 7.5px;
      cursor: pointer;

      &:hover {
        background-color: #ccc;
        transition: 0.3s background-color ease;
      }

      i {
        width: 24px !important;
        height: 24px !important;
        font-size: 24px !important;
      }
    }
  }

  .body {
    display: flex;
    text-align: left;
    align-items: center;
    width: 100%;
    padding: 0 15px 15px;

    p {
      margin-left: 23px;
    }
  }
}
