.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 3000;
  border-radius: 7.5px;
  overflow: hidden;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #e6e6e6;
        transition: 0.3s background-color ease;

        i {
          background-color: #e6e6e6;
          transition: 0.3s background-color ease;
        }
      }

      i {
        width: 19px !important;
        height: 19px !important;
        font-size: 19px !important;
      }
    }
  }

  .body {
    display: flex;
    text-align: left;
    align-items: center;
    width: 100%;
    padding: 0 15px 15px;

    p {
      margin-left: 23px;
    }
  }
}
