@use '@styles/colors.scss' as colors;

.container {
  background-color: colors.$bg-color;

  .searchBar {
    background-color: colors.$bg-color;
    display: flex;
    align-items: center;
    position: relative;

    input {
      flex-grow: 1;
      align-items: center;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 7.5px;
      font-size: 14px;

      &:focus {
        outline: none;
        border: 1px solid colors.$primary-color;
        transition: 0.3s border ease;
      }

      &:hover {
        border: 1px solid colors.$primary-color;
        transition: 0.3s border ease;
      }
    }

    .search {
      right: 10px;
      position: absolute;

      i {
        width: 18px;
        height: 18px;
        font-size: 18px;
      }
    }
  }
}
