@use '@styles/colors.scss' as colors;

.container {
  background-color: colors.$bg-color;

  .searchBar {
    background-color: colors.$bg-color;
    display: flex;
    align-items: center;
    position: relative;

    input {
      width: 100%;
      font-size: 16.38px;
      border-radius: 5px;
    }

    .search {
      right: 10px;
      position: absolute;

      i {
        width: 16.38px;
        height: 16.38px;
        font-size: 16.38px;
      }
    }
  }
}
