@use '@styles/colors.scss' as colors;

.container {
  display: flex;
  justify-content: center;
  padding: 79px 0 20px;
  height: 100vh;

  .content {
    label {
      background-color: #fff;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 100%;

    .header {
      display: flex;
      margin-bottom: 30px;
      justify-content: center;

      h2 {
        color: colors.$primary-color;
      }
    }

    form {
      .formGroup {
        display: flex;
        flex-direction: column;

        .redBorder {
          border: 1px solid red;
        }

        .usernameError,
        .passwordError {
          height: 20px;
          margin: 2.5px 0;
          color: red;
        }

        .inputPasswordWrapper {
          position: relative;
          display: flex;
          align-items: center;

          input {
            flex-grow: 1;
          }

          .togglePassword {
            position: absolute;
            right: 11px;

            i {
              opacity: 0.7;

              &:hover {
                opacity: 1;
                transition: 0.3s opacity ease;
              }
            }
          }
        }
      }

      .rememberMe {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        input {
          display: none;
        }

        .checked {
          border: 1px solid colors.$primary-color !important;
          background-color: colors.$primary-color;

          i {
            background-color: colors.$primary-color;
            color: #fff;
          }
        }

        .checkMark {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          height: 20px;
          width: 20px;
          border: 1px solid #ccc;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            border: 1px solid colors.$primary-color;
            transition: 0.3s border ease;
          }

          &:focus {
            background-color: colors.$primary-color;
          }

          i {
            border-radius: 5px !important;
            color: #fff !important;
          }
        }
      }

      .submit {
        width: 100%;
      }
    }

    .error {
      text-align: center;
      color: red;
      margin-top: 20px;
    }
  }
}
