@use '@styles/colors.scss' as colors;

.container {
  background-color: colors.$bg-color;

  .createContainer {
    margin-bottom: 20px;
    background-color: inherit;
    display: flex;
    justify-content: flex-end;
  }
}
