.container {
  h2 {
    margin-bottom: 20px;
  }
  
  .pagination {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .addButton {
    float: right;
    width: 132px;
    margin-bottom: 20px;
  }
}