@use '@styles/colors.scss' as colors;

.container {
  .content {
    padding: 79px 40px 20px;
    display: flex;
    background-color: colors.$bg-color;

    .postCardList {
      margin-right: 20px;
      flex-grow: 1;
      background-color: colors.$bg-color;

      .title {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid colors.$primary-color;
        color: colors.$primary-color;
        border-radius: 5px;
        box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;
        border-radius: 5px;
      }

      .pagination {
        margin-top: 20px;
      }

      .notFound {
        text-align: center;
        background-color: inherit;
      }
    }

    .notLoggedIn,
    .loading {
      height: calc(100vh - 59px - 40px);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: colors.$bg-color;
    }

    .sidebar {
      flex: 0 0 275px;
      background-color: colors.$bg-color;

      .searchBox {
        background-color: colors.$bg-color;
        box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;
      }

      .filter {
        box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;
        margin-top: 20px;
        border: 1px solid #ccc;
        border-radius: 7.5px;
        overflow: hidden;

        .filterTop {
          padding: 10px;
          text-align: center;
          background-color: colors.$primary-color;

          h3 {
            background-color: colors.$primary-color;
            color: #fff;
          }
        }

        .filterBody {
          padding: 10px;

          .filterOption {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 5px 0;

            input {
              margin-right: 10px;
              height: 100%;
              display: flex;
              align-items: center;
            }

            label {
              height: 100%;
              display: inline-block;
              margin: auto 0;
            }
          }

          .radioButton {
            input {
              display: none;
            }
          }
        }

        .filterBottom {
          padding: 10px;
        }
      }

      .categoryList {
        margin-top: 20px;
        padding-bottom: 10px;
        box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;
        border: 1px solid #ccc;
        border-radius: 7.5px;
        overflow: hidden;

        .categoryListTop {
          padding: 10px;
          text-align: center;
          background-color: colors.$primary-color;

          h3 {
            background-color: colors.$primary-color;
            color: #fff;
          }
        }
      }
    }
  }
}
