@use '@styles/colors.scss' as colors;

.container {
  background-color: colors.$bg-color;

  h2 {
    margin-bottom: 20px;
    background-color: inherit;
  }

  .loading {
    text-align: center;
  }

  .pagination {
    margin-top: 20px;
  }

  .createWrapper {
    background-color: inherit;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}
