@use '@styles/colors.scss' as colors;

.container {
  h2 {
    margin-bottom: 20px;
    background-color: inherit;
  }

  .createContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}
