@use '@styles/colors.scss' as colors;

.container {
  background-color: colors.$bg-color;

  .createButtonWrapper {
    background-color: inherit;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
