.container {
  .avatarWrapper {
    margin: 20px 0 10px;
    width: 100%;
    display: flex;
    justify-content: center;

    .avatar {
      width: 150px;
      height: 150px;
      object-fit: cover;
      display: block;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid #ccc;

      &:hover {
        opacity: 0.8;
        transition: 0.3s opacity ease;
      }
    }
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .inputPasswordWrapper {
      position: relative;
      display: flex;
      align-items: center;

      input {
        flex-grow: 1;
      }

      .togglePassword {
        position: absolute;
        right: 11px;

        i {
          opacity: 0.7;

          &:hover {
            opacity: 1;
            transition: 0.3s opacity ease;
          }
        }
      }
    }
  }

  .rolePicker {
    margin-bottom: 20px;
    
    .roleList {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
      }
    }

    .roles {
      border-radius: 5px;
      position: sticky;
      margin-top: 5px;
      padding: 10px 0;
      border: 1px solid #ccc;
      z-index: 100;

      .role {
        padding: 10px;
        font-size: 14px;
        list-style: none;

        &:hover {
          background-color: #e6e6e6;
          transition: 0.3s background-color ease;
          cursor: pointer;
        }
      }
    }
  }

  .createButtonWrapper {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}