@use '@styles/colors.scss' as colors;

.container {
  .content {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .filter {
        display: flex;
        width: auto;
        i {
          background-color: colors.$primary-color;
          margin-right: 5px;
        }
      }
    }

    .body {
      display: grid;
      background-color: colors.$bg-color;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);

      .post {
        background-color: colors.$bg-color;
      }
    }
  }

  .noPosts {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 80px);
    height: calc(100vh - 99px);
  }
}

.notLoggedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 80px);
  height: calc(100vh - 100px);

  .pagination {
    display: none;
  }
}

@media (max-width: 1000px) {
  .container {
    .content {
      .body {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 700px) {
  .container {
    .content {
      .body {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
