@use '@styles/colors.scss' as colors;

.container {
  height: 100%;
  background-color: colors.$bg-color;

  h2 {
    margin-bottom: 20px;
    background-color: colors.$bg-color;
  }

  .loading {
    background-color: colors.$bg-color;
  }

  .pagination {
    background-color: colors.$bg-color;
    margin-top: 20px;
  }
}
