@use '@styles/colors.scss' as colors;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;

  .disabled {
    opacity: 0.4 !important;
    cursor: default !important;
    border: 1px solid #ccc;

    i {
      cursor: default !important;
    }

    &:hover {
      background-color: #fff !important;

      i {
        background-color: #fff !important;
      }
    }
  }

  .active {
    border: 1px solid colors.$primary-color !important;

    i {
      border: 1px solid colors.$primary-color;
      color: colors.$primary-color !important;
    }

    p {
      color: #fff;
      color: colors.$primary-color !important;
    }

    &:hover {
      background-color: #fff !important;
      opacity: 0.8;
      transition: 0.3s opacity ease;

      p {
        background-color: #fff !important;
      }
    }
  }

  .prev {
    margin-right: 10px;
  }

  .prev,
  .next {
    box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7.5px;
    padding: 7.5px;
    opacity: 1;
    border: 1px solid #ccc;
    background-color: #fff;

    i {
      color: #000;
      font-size: 14px;
    }

    &:hover {
      background-color: #ccc;
      cursor: pointer;
      transition: 0.3s background-color ease;
      transition: 0.3s border ease;
      border: 1px solid #ccc;

      i {
        background-color: #ccc;
        transition:
          0.3s background-color,
          border ease;
        transition: 0.3s border ease;
      }
    }
  }

  .pages {
    display: flex;
    height: 35.5px;

    .page {
      box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;
      border: 1px solid #ccc;
      border-radius: 7.5px;
      height: 35.5px;
      width: 35.5px;
      padding: 7.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      opacity: 1;
      background-color: #fff;
      color: #ccc;
      margin-right: 10px;

      p {
        color: #000;
        font-size: 14px;
      }

      &:hover {
        background-color: #ccc;
        border: 1px solid #ccc;
        cursor: pointer;
        transition:
          0.3s border,
          color ease;

        p {
          background-color: #ccc;
        }
      }
    }
  }
}
