@use '@styles/colors.scss';

.container {
  position: relative;
  z-index: 1000;

  .items.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .items {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 200px;
    padding: 7.5px;
    margin-top: 5px;
    pointer-events: none;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    opacity: 0;
    transform: translateY(-5px);
    background-color: #fff;
    border-radius: 10px;
    list-style: none;
    overflow-y: auto;
    box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;
    border: 1px solid #ccc;

    .divider {
      height: 1px;
      background-color: #ccc;
      margin: 7.5px 0;
    }

    .item {
      display: flex;
      width: 100%;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 10px;
      text-align: left;
      align-items: center;
      border-radius: 5px;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: colors.$primary-color;
        color: #fff;
        transition: 0.3s background-color ease;

        p {
          background-color: colors.$primary-color;
          transition: 0.3s background-color ease;
        }
      }

      i {
        margin-right: 15px;
      }
    }
  }
}
