@use '@styles/colors.scss' as colors;

.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;
  z-index: 1000;

  .left {
    h1 {
      a {
        text-decoration: none;
        color: colors.$primary-color;
        letter-spacing: 5px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    .createPost {
      margin: 0 10px;
    }

    .avatar {
      display: flex;
      align-items: center;
      object-fit: cover;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #ccc;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: 0.3s opacity ease;
      }
    }

    .signUp {
      margin-right: 10px;
      width: 100px;
      border: 1px solid colors.$primary-color;
      background-color: #fff;
      color: colors.$primary-color;
    }

    .login {
      border: 1px solid colors.$primary-color;
      width: 100px;

      &:hover {
        border: 1px solid #40a9ff;
        transition: 0.3s border ease;
      }

      &:active {
        border: 1px solid #096dd9;
        transition: 0.3s border ease;
      }
    }
  }
}
