.container {
  .contentWrapper {
    padding: 79px 40px 20px;

    .notLoggedIn {
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100vw - 80px);
      height: calc(100vh - 100px);
    }

    .content {
      .avatarWrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        .avatar {
          display: block;
          width: 150px;
          height: 150px;
          object-fit: cover;
          border-radius: 50%;
          margin: 20px auto 10px;
          border: 1px solid #ccc;
      
          &:hover {
            cursor: pointer;
            opacity: 0.8;
            transition: 0.3s opacity ease;
          }
        }
      }

      form {
        .formGroups {
          .formGroup {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;

            .inputPasswordWrapper {
              position: relative;
              display: flex;
              align-items: center;
    
              input {
                flex-grow: 1;
              }
    
              .togglePassword {
                position: absolute;
                right: 11px;
    
                i {
                  opacity: 0.7;
    
                  &:hover {
                    opacity: 1;
                    transition: 0.3s opacity ease;
                  }
                }
              }
            }
          }
        }

        .buttons {
          display: flex;
          justify-content: flex-end;

          .cancelButton {
            background-color: #e2e5e9;
            font-size: 16px;
            padding: 10px;
            border: 1px solid #e2e5e9;
            border-radius: 5px;
            color: #000;
            width: 100px;
            margin-right: 10px;
  
            &:hover {
              cursor: pointer;
              opacity: 0.8;
              transition: 0.3s opacity ease;
            }
          }
  
          .create {
            width: 100px;
          }
        }
      }
    }
  }
}