@use '@styles/colors.scss' as colors;

.container {
  background-color: colors.$bg-color;

  .statisticCards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    :global(.card) {
      :global(.card-body) {
        h3 {
          margin-bottom: 15px;
        }

        .statistic {
          font-size: 1.17em;
          font-weight: 600;
          letter-spacing: 5px;
          color: colors.$primary-color;
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .container {
    .statisticCards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .statisticCards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
