@use '@styles/colors.scss' as colors;

.container {
  background-color: colors.$bg-color;

  h2 {
    background-color: inherit;
    margin-bottom: 20px;
  }

  .statisticCards {
    background-color: inherit;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    .statisticCard {
      box-shadow: rgba(86, 86, 88, 0.1) 0px 7px 7px 0px;
      border: 1px solid #ccc;
      border-radius: 7.5px;
      padding: 15px;

      h3 {
        margin-bottom: 15px;
      }

      .statistic {
        font-size: 1.17em;
        font-weight: 600;
        letter-spacing: 5px;
        color: colors.$primary-color;
      }
    }
  }
}
