@use '@styles/colors.scss' as colors;

.container {
  width: 100%;
  height: 100%;
  background-color: colors.$bg-color;

  h2 {
    background-color: colors.$bg-color;
    margin-bottom: 20px;
  }

  .categoryPicker,
  .userPicker {
    background-color: colors.$bg-color;
    margin-bottom: 20px;
    position: relative;

    .categoriesList,
    .usersList {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 7.5px;

      &:hover {
        cursor: pointer;
      }

      i {
        width: 14px;
        height: 14px;
        font-size: 14px;
      }
    }

    .categories,
    .users {
      border-radius: 7.5px;
      position: absolute;
      height: 250px;
      overflow-y: auto;
      width: 100%;
      margin-top: 5px;
      padding: 10px 0;
      border: 1px solid #ccc;
      z-index: 100;

      .category,
      .user {
        padding: 10px;
        font-size: 14px;
        list-style: none;

        &:hover {
          background-color: #ccc;
          transition: 0.3s background-color ease;
          cursor: pointer;
        }
      }
    }
  }

  .select {
    margin-bottom: 20px;
    background-color: colors.$bg-color;

    p {
      background-color: colors.$bg-color;
      margin-bottom: 10px;
    }
  }

  .formGroup {
    background-color: colors.$bg-color;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .thumbnailWrapper {
    background-color: inherit;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7.5px;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
      transition: 0.3s opacity ease;

      .deleteThumbnail {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          display: block !important;
        }
      }
    }

    .thumbnailLabel {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc !important;
      background-color: #fff;
      width: 100%;
      height: 100%;
      border-radius: 7.5px;
      position: relative;

      &:hover {
        color: colors.$primary-color;
        transition: 0.3s color ease;
        cursor: pointer;
      }

      p {
        font-size: 14px;
        background-color: #fff;
      }

      i {
        font-size: 14px;
        background-color: #fff;
        height: 14px;
        width: 14px;
        margin-right: 5px;
      }
    }

    .deleteThumbnail {
      position: absolute;
      background-color: transparent;

      i {
        color: #fff;
        display: none;
        background-color: transparent;
        font-size: 28px;
        height: 28px;
        width: 28px;
      }
    }

    .thumbnail {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 7.5px;
    }
  }

  .updateButtonWrapper {
    background-color: colors.$bg-color;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
