@use '@styles/colors.scss' as colors;

.container {
  width: 100%;
  height: 100%;
  background-color: colors.$bg-color;

  .updateButtonWrapper {
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
