$bg-color: #f2f4f7;

$primary-color: #42b883;
$primary-hover-color: #60c39a;
$primary-active-color: #359b6f;

$secondary-color: #35495e;
$secondary-hover-color: #4a617a;
$secondary-active-color: #2b3a49;

$success-color: #52c41a;
$warning-color: #faad14;
$info-color: #1677ff;

$destructive-color: #f5222d;
$destructive-hover-color: #ff7875;
$destructive-active-color: #d40921;
