@use './colors.scss' as colors;

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-width: 100px;
  border: none;
  border-radius: 7.5px;
  font-size: 14px;
  background-color: colors.$primary-color;
  color: #fff;
  cursor: pointer;

  p {
    background-color: colors.$primary-color;
  }

  i {
    margin-right: 5px;
    background-color: colors.$primary-color;
  }

  &:hover {
    background-color: colors.$primary-hover-color;
    transition: 0.3s background-color ease !important;

    i {
      background-color: colors.$primary-hover-color !important;
      transition: 0.3s background-color ease;
    }

    p {
      background-color: colors.$primary-hover-color;
      transition: 0.3s background-color ease !important;
    }
  }

  &:active {
    background-color: colors.$primary-active-color;
    transition: 0.3s background-color ease !important;

    i {
      background-color: colors.$primary-active-color !important;
      transition: 0.3s background-color ease;
    }

    p {
      background-color: colors.$primary-active-color;
      transition: 0.3s background-color ease !important;
    }
  }
}

.outline-primary-btn {
  width: 100px;
  padding: 10px;
  border-radius: 7.5px;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #ccc;
  color: #000;
  background-color: #fff;

  &:hover {
    border: 1px solid colors.$primary-color;
    color: colors.$primary-color;
    transition:
      0.3s border ease,
      color ease;
  }
}

.secondary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-width: 100px;
  border: none;
  border-radius: 7.5px;
  font-size: 14px;
  background-color: colors.$secondary-color;
  color: #fff;
  cursor: pointer;

  p {
    background-color: colors.$secondary-color;
  }

  i {
    margin-right: 5px;
    background-color: colors.$secondary-color;
  }

  &:hover {
    background-color: colors.$secondary-hover-color;
    transition: 0.3s background-color ease !important;

    i {
      background-color: colors.$secondary-hover-color !important;
      transition: 0.3s background-color ease;
    }

    p {
      background-color: colors.$secondary-hover-color;
      transition: 0.3s background-color ease !important;
    }
  }

  &:active {
    background-color: colors.$secondary-active-color;
    transition: 0.3s background-color ease !important;

    i {
      background-color: colors.$secondary-active-color !important;
      transition: 0.3s background-color ease;
    }

    p {
      background-color: colors.$secondary-active-color;
      transition: 0.3s background-color ease !important;
    }
  }
}

.destructive-btn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 7.5px;
  font-size: 14px;
  background-color: colors.$destructive-color;
  color: #fff;
  cursor: pointer;

  p {
    background-color: colors.$destructive-color;
  }

  &:hover {
    background-color: colors.$destructive-hover-color;
    transition: 0.3s background-color ease !important;

    i {
      background-color: colors.$destructive-hover-color !important;
      transition: 0.3s background-color ease;
    }

    p {
      background-color: colors.$destructive-hover-color;
      transition: 0.3s background-color ease !important;
    }
  }

  &:active {
    background-color: colors.$destructive-active-color;
    transition: 0.3s background-color ease !important;

    i {
      background-color: colors.$destructive-active-color !important;
      transition: 0.3s background-color ease;
    }
  }
}

.outline-destructive-btn {
  width: 100px;
  padding: 10px;
  border-radius: 7.5px;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #ccc;
  color: #000;
  background-color: #fff;

  &:hover {
    border: 1px solid colors.$destructive-color;
    color: colors.$destructive-color;
    transition:
      0.3s border ease,
      color ease;
  }
}

.custom-toolbar {
  padding: 10px !important;
  border-bottom: none !important;
  border-radius: 7.5px 7.5px 0 0 !important;

  button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 10px;
    padding: 0px !important;
    width: 24px !important;

    svg {
      padding: 3px;
    }

    i {
      display: block;
    }
  }

  .ql-header {
    color: #000 !important;

    .ql-picker-label {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      border-radius: 3px;
      border: none !important;
    }

    .ql-picker-options {
      margin-top: 10px !important;
      padding: 10px 0 !important;
      border-radius: 7.5px !important;

      .ql-picker-item {
        padding: 10px !important;

        &::before {
          font-size: 14px !important;
        }

        &:hover {
          background-color: #ccc;
          transition: 0.3s background-color ease;
          color: #000;
          transition: 0.3s color ease;
        }
      }
    }
  }
}

.quill-wrapper {
  background-color: colors.$bg-color;

  .quill {
    background-color: inherit;
    .ql-container {
      overflow: hidden;
      border-radius: 0 0 7.5px 7.5px !important;

      .ql-editor {
        min-height: 500px;
        padding: 10px;
        font-size: 14px !important;
        font-family: Arial, Helvetica, sans-serif;

        img {
          margin: 10px 0 !important;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 7.5px;
        }
      }
    }
  }
}
