@use '@styles/colors.scss' as colors;

.container {
  background-color: colors.$bg-color;

  :global(.card) {
    &:last-child {
      margin-top: 20px;
    }

    :global(.card-body) {
      form {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }
  }
}
